<div class = "btn-toolbar">

	<%= button_tag "Refresh",:class => "btn btn-info", :id => "refresh-button" %>
	
	<div class = "btn-group">
		<%= button_tag "Next",:class => "btn btn-info", :id => "next-button" %>
		<%= button_tag "Previous",:class => "btn btn-info", :id => "previous-button" %>
	</div>

</div>
