<% for entry in @entries %>
<div class = "entry">
	<%= link_to entry.title, entry.url, :target => "_blank" %>
	<br />
	<%= entry.created_at %>
	<br />
	<br />

	<% if !entry.content.nil? %>
	<%= entry.content.html_safe %>
	<% elsif !entry.summary.nil? %>
	<%= entry.summary.html_safe %>
	<% else %>
	<% end %>

	<br />
</div>
<% end %>

