// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#title {
  margin: 20px;
  color: #339966;
}

#subscribe-button {
  vertical-align: top;
}

#feed-nav {
  border: 0px;
  font-weight: bold;
  padding: 2px;
}

.sidebar-nav {
     background-color: white;
     border: 0px;
     a:hover {
      text-decoration: none; 
     }
 }

 @media (max-width: 767px) {
     .sidebar-nav {
         width:auto;
     }
 }

 @media (max-width: 979px) {
     .sidebar-nav {
        position:static;
        width: auto;
     }
 }
 
 
.navbar-fixed {
  position: fixed;
  margin-left: 20px;
  width: 100%;
  background: white;
}

.entry {
  border: 1px solid #A34719;
  margin: 20px 20px 0 20px;
  padding: 10px;
}

.entry-title {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.entry-footer {
  background-color: #FFFFF5;
  border: 1px solid #A34719;
  border-top-width: 0px;
  padding: 5px;
  margin: 0 20px 20px 20px;
}