// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  overflow: hidden;
  height: 100%;
}

.span8, .span4 {
  overflow: auto;
}

#title {
  margin: 20px;
  color: #339966;
}

#subscribe-button {
  vertical-align: top;
}

#feed-nav {
  border: 0px;
  font-weight: bold;
  padding: 2px;
}

.sidebar-nav {
     background-color: white;
     border: 0px;
     a:hover {
      text-decoration: none; 
     }
 }

 @media (max-width: 767px) {
     .sidebar-nav {
         width:auto;
     }
 }

 @media (max-width: 979px) {
     .sidebar-nav {
        position:static;
        width: auto;
     }
 }
 

.entry {
  border: 1px solid grey;
  margin: 20px;
  padding: 10px;
}