// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.entry {
  border: 1px solid grey;
  margin: 20px;
  padding: 10px;
}

#title {
  margin: 20px;
  color: #339966;
}

#subscribe-button {
  vertical-align: top;
}

.sidebar-nav-fixed {
     position: fixed;
     width: 30%;
     background: white;
     border: 0px;
     padding-right: 0px;
     margin-right: 0px;
     font-weight: bold;
     
     a:hover {
      text-decoration: none; 
     }
 }

 @media (max-width: 767px) {
     .sidebar-nav-fixed {
         width:auto;
     }
 }

 @media (max-width: 979px) {
     .sidebar-nav-fixed {
         position:static;
        width: auto;
     }
 }